include README.markdown
include mkproxy/mkproxy.c
include mkproxy/Makefile
include mkproxy/README.markdown
recursive-include globusonline/transfer/api_client/examples *.py
recursive-include globusonline/transfer/api_client/ca *.pem
